@import "./fontsKit";

@import "./sprites";

@import "../js/components/About/About";

@import "../js/components/Button/Button";

@import "../js/components/Form/Form";

@import "../js/components/GameField/GameField";

@import "../js/components/LeaderBoard/LeaderBoard";

@import "../js/components/Logo/Logo";

@import "../js/components/Menu/Menu";

@import "../js/components/Navbar/Navbar";

@import "../js/components/NetworkError/NetworkError";

@import "../js/components/Profile/Profile";

@import "../js/components/TeamChooser/TeamChooser";

@import "../js/components/WeaponsChooser/WeaponsChooser";

@import "../js/components/WeaponsShuffler/WeaponsShuffler";

@import "../js/components/WinnerShower/WinnerShower";

@import "../js/components/LobbyLoader/LobbyLoader";

@import "../js/components/RivalLabel/RivalLabel";

[hidden] {
  display: none !important;
}

/* common styles */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

* {
  font-family: 'PexicoMicro-Regular';
}

section {
  width: 100%;
  + section {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}