@media only screen and (min-width: 1224px) {
    .chat { justify-content: stretch;};
    .navbar { display: none;};
}

.chat{
	display: grid;
	grid-template-columns: 	[col1] 50px	[col2] auto [col3] 50px [col4] 50px [colprevlast] 50px [collast] 50px [end];
	grid-template-rows: 	[row1] 50px [row2] auto [rowlast] 50px;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.prev_tab{
  	grid-column-start: col1;
  	grid-row-start: row1;
}

.tab{
  	grid-column-start: col2;
  	grid-row-start: row1;
}

.next_tab{
  	grid-column-start: col3;
  	grid-row-start: row1;
}

.new_tab{
  	grid-column-start: col4;
  	grid-row-start: row1;
}

.new_login_modal {
	display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	overflow: auto;
	display: flex;
    justify-content: space-between;
}

.new_login_modal_content {
	background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 3px;
	width: 50%;
	height: 5%;
    font-weight: bold;
}

.roll_btn{
  	grid-column-start: colprevlast;
  	grid-row-start: row1;
}

.close_btn{
  	grid-column-start: collast;
  	grid-row-start: row1;
}


.chat_body{
  	grid-column-start: col1;
  	grid-column-end: end;
  	grid-row-start: row2;
  	grid-row-end: rowlast;
  	overflow: auto;
  	height: 400px;
  	width: 100%;
}

.text_input{
  	grid-column-start: col1;
  	grid-column-end: colprevlast;
  	grid-row-start: rowlast;
}

.send_btn{
  	grid-column-start: colprevlast;
  	grid-column-end: end;
  	grid-row-start: rowlast;
}

.item{
}

.item_from_me{
	text-align: left;
}

.item_to_me{
	text-align: right;
}

.load_more{
	text-align: center;
}