/* Form sign up */
.form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.form_head {
    text-align: center;
    font-size: 3rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.53rem;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 3px; 
    font-size: 1rem;
}
