@import '../js/components/Navbar/Navbar.css';
@import '../js/components/Logo/Logo.css';
@import '../js/components/Menu/Menu.css';

@font-face {
    font-family: "Pexico Micro";
    src: url('../fonts/PexicoMicro-Regular.otf');
}

/* common styles */
html,body {
    height:100%;
    width:100%;
    margin:0;
}

* {
    font-family: Pexico Micro;
}