@import './fontsKit.css';
@import '../js/components/Navbar/Navbar.css';
@import '../js/components/Logo/Logo.css';
@import '../js/components/Menu/Menu.css';
@import '../js/components/Button/Button.css';
@import '../js/components/Form/Form.css';
@import '../js/components/Profile/Profile.css';
@import '../js/components/LeaderBoard/LeaderBoard.css';
@import '../js/components/About/About.css';
@import '../js/components/NetworkError/NetworkError.css';


[hidden] { display: none !important; }

/* common styles */
html,body {
    height:100%;
    width:100%;
    margin:0;
}

#root{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

* {
    font-family: 'PexicoMicro-Regular';
}

section {
    width: 100%;
}

section + section {
    margin-top: 3rem;
}