/* leader board */
.about {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_back {
    margin-top: 1rem;
}

.avatar {
    object-fit: cover;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.contributor_card {
    display: flex;
    width: 80%;
    align-items: center;
}

.contributor_name {
    margin-left: 1rem;
}

.repo_button {
    border: 2px solid black;
    border-radius: 3px;
    text-align: center;
    padding: 0.5rem;
    min-width: 7%;
    min-height: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.repo_buttons {
    display: flex;
    width: 80%;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
}