/* profile */
.profile {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer;
}

label + label {
    cursor: pointer;
}

.avatar {
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;
    opacity: 1;
    /* display: block; */
    width: 15rem;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container:hover .avatar {
  opacity: 0.3;
}

.profile a {
    font-size: 1.5rem;
}

.subavatar {
    font-weight: normal;
    color: red;
    font-size: 1rem;
}

.about__back {
    margin-top: 1rem;
}

.container {
    position: relative;
    width: 100%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .middle {
  opacity: 1;
}