/* main-menu */
.menu__button {
    min-width: 5rem;
    width: 12rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.53rem;
    font-weight: bold;
}

.menu__button:hover, .menu__button:focus, .menu__button:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.navbar__button {
    border: 2px solid black;
    border-radius: 3px;
    float: right;
    text-align: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    min-width: 7%;
    min-height: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.navbar__button:hover, .navbar__button:focus, .navbar__button:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}