/* leader board */
.leaderboard {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard__back {
    margin-top: 1rem;
}

.next_button {
    min-width: 5rem;
    width: 12rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.53rem;
    font-weight: bold;
}

.next_button:hover, .next_button:focus, .next_button:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.prev_button {
    min-width: 5rem;
    width: 12rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.53rem;
    font-weight: bold;
}

.prev_button:hover, .prev_button:focus, .prev_button:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}