.gamefield__back {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.game {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}