.gamefield__back {
  text-align: center;
  font-weight: bold;
  z-index: 3;
  font-size: 1.5rem;
}

.game {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  display: table;
  margin: auto;
  position: relative;
  box-shadow: 0 0 30px 13px rgb(160,200,39);
}

.row {
  display: table-row;
}

.cell {
  border: 1px solid white;
  position: relative;
  display: table-cell;

  &:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
}

.cell__bright {
  background-color: #C6DF7E;
}

.cell__dark {
  background-color: #A0C827;
}

.selected-cell {
  box-shadow: inset 0 0 30px 20px #d0ff33;
}

.near-cell {
  box-shadow: inset 0 0 30px 20px rgba(255,255,255,0.6);
}

.tableBody {
  display: table-row-group;
}

@media only screen and (max-width: 480px) {
  .table {
    width: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .table {
    width: 70%;
  }
}

@media only screen and (min-width: 1224px) {
  .table {
    width: 45%;
  }
}

@media only screen and (min-width: 1824px) {
  .table {
    width: 35%;
  }
}

@keyframes end {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: calc(100% / 1 * 2);
  }
}

.animate-blue-win {
  background: var(--end);
  height: 125px;
  width: 200px;
  animation: end 1s steps(2) infinite;
}

.animate-red-win {
  background: var(--end);
  height: 125px;
  width: 200px;
  background-position-y: 100%;
  animation: end 1s steps(2) infinite;
}

@keyframes load-referee {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: calc(100% / 5 * 6);
  }
}

.animate-load-referee {
  background: var(--load-referee);
  height: 61px;
  width: calc(552px / 6);
  animation: load-referee 1s steps(6) infinite;
}

@keyframes blue-turn {
  from {
    background-position-x: 100%;
  }

  to {
    background-position-x: 0;
  }
}


@keyframes red-turn {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 100%;
  }
}

.indicator {
  background: var(--indicator);
  margin: auto;
  height: 47px;
  width: 69px;
  z-index: 3;
}

.blue-turn {
  animation: blue-turn 0.5s steps(3) forwards;
}

.red-turn {
  animation: red-turn 0.5s steps(3) forwards;
}

#game-event {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes jump {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: calc(100% / 2 * 3);
  }
}


@keyframes up {
  from {
    bottom: -200%;
  }

  to {
    bottom: 0%;
  }
}


@keyframes down {
  from {
    top: -200%;
  }

  to {
    top: 0%;
  }
}

@keyframes left {
  from {
    right: -200%;
  }

  to {
    right: 0%;
  }
}

@keyframes right {
  from {
    left: -200%;
  }

  to {
    left: 0%;
  }
}

@keyframes celebration {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: calc(100% / 4 * 5);
  }
}

.blue-back {
  background-image: var(--blue-back);
  background-position-x: 0;
}

.blue-front {
  background-image: var(--blue-front);
  background-position-x: 0;
}

.red-back {
  background-image: var(--red-back);
  background-position-x: 0;
}

.red-front {
  background-image: var(--red-front);
  background-position-x: 0;
}

.blue-flag {
  background-image: var(--flag-units);
  background-position-x: 0;
}

.red-flag {
  background-image: var(--flag-units);
  background-position-x: 50%;
}

.animate-blue-get-flag {
  background-image: var(--winners);
  height: 90px;
  width: 70px;
  background-position-y: 0;
  background-position-x: 0;
  animation: celebration 1s steps(5) infinite;
}

.animate-red-get-flag {
  background-image: var(--winners);
  height: 90px;
  width: 70px;
  background-position-y: 100%;
  animation: celebration 1s steps(5) infinite;
}

.trap {
  background-position-y: 100%;
  background-position-x: 100%;
}

@keyframes trap-open {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: calc(100% / 2 * 3);
  }
}

.animate-trap-open {
  z-index: 0;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--trap);
  height: 43px;
  width: 30px;
  animation: trap-open 1s steps(3);
}

.animate-up {
  animation: up 1s forwards, jump 1s steps(3) alternate-reverse;
}

.animate-down {
  animation: down 1s forwards, jump 1s steps(3) alternate-reverse;
}

.animate-left {
  animation: left 1s forwards, jump 1s steps(3) alternate-reverse;
}

.animate-right {
  animation: right 1s forwards, jump 1s steps(3) alternate-reverse;
}

.animate-jump {
  animation: jump 1s steps(3) alternate-reverse;
}

.unit {
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-size: auto 100%;
  width: 66%;
}

.scissors {
  z-index: 2;
  background: var(--scissors);
  // background-position-y: 20%;
  // height: 55px;
  // background-size: auto 100%;
  height: 100%;
  background-size: auto 100%;
  width: 150%;
}

.rock {
  z-index: 2;
  background: var(--rock);
  // background-position-y: 60%;
  // height: 55px;
  // background-size: auto 100%;
  height: 100%;
  background-size: auto 100%;
  width: 150%;
}

.paper {
  z-index: 2;
  background: var(--paper);
  // background-position-y: 100%;
  // height: 55px;
  // background-size: auto 100%;
  height: 100%;
  background-size: auto 100%;
  width: 150%;
}

@keyframes tie {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 100%;
  }
}

.animate-tie-s {
  z-index: 2;
  background: var(--tie-s);
  height: 59px;
  width: 102px;
  animation: tie 0.25s steps(2) forwards;
}

.animate-tie-r {
  z-index: 2;
  background: var(--tie-r);
  height: 53px;
  width: 109px;
  animation: tie 0.25s steps(2) forwards;
}

.animate-tie-p {
  z-index: 2;
  background: var(--tie-p);
  height: 63px;
  width: 151px;
  animation: tie 0.25s steps(2) forwards;
}

@keyframes fight-pr-rs {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: calc(100% / 6 * 7);
  }
}

.animate-fight-red-pr {
  z-index: 2;
  background: var(--red-pr);
  height: 84px;
  width: 144px;
  animation: fight-pr-rs 1s steps(7);
}

.animate-fight-blue-pr {
  z-index: 2;
  background: var(--blue-pr);
  height: 84px;
  width: 140px;
  animation: fight-pr-rs 1s steps(7);
}

.animate-fight-red-rs {
  z-index: 2;
  background: var(--red-rs);
  height: 87px;
  width: 140px;
  animation: fight-pr-rs 1s steps(7);
}

.animate-fight-blue-rs {
  z-index: 2;
  background: var(--blue-rs);
  height: 87px;
  width: 140px;
  animation: fight-pr-rs 1s steps(7);
}

@keyframes fight-sp {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: calc(100% / 5 * 6);
  }
}

.animate-fight-red-sp {
  z-index: 2;
  background: var(--red-sp);
  height: 92px;
  width: 148px;
  animation: fight-sp 1s steps(6);
}

.animate-fight-blue-sp {
  z-index: 2;
  background: var(--blue-sp);
  height: 92px;
  width: 148px;
  animation: fight-sp 1s steps(6);
}